@use '../../styles/colors' as c;

.main {
    display: flex;

    &__cont {
        width: 50%;
        overflow: hidden;
    }
}

.img {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    max-height: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.4rem 1.8rem;
    height: 100%;
}

.text {
    font-weight: 600;

    &_cont {
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
        gap: 0.5rem;
        
    }
}

.label {
    font-weight: 600;
}

.card {
    max-width: 400px;
    margin: 1rem auto;
    border-radius: 0.75rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
    padding: 1.5rem;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    margin: 0.8rem;
    background-color: c.$primaryBlue100;      
    color: c.$muteBlack;           
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: c.$primaryBlue500;
    margin-bottom: 0.4rem;
    font-family: "Inter";
}

.details {
    color: c.$muteBlack;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Mulish', sans-serif;
}

.label {
    font-weight: bold;
    color: c.$primaryBlue400;
}