$whiteBlue: #ebf1f5;
$muteBlack: #252430;
$lightGrey: #aaa;
$blueGrey: #434153;

// primary
$bgBlue: #1d1a42;
$primaryBlue500: #5048d1;
$primaryBlue400: #575ae0;
$primaryBlue300: #7173e6;
$primaryBlue100: #eeeef6;

// secondary / accents
$accentGreen300: #c1e2a4;
$lightBlue: #83bdec;

$quizRed: #e12d4d;
$quizGreen: #20a247;
$quizYellow: #d69a3c;
$quizBlue: #468be0;
