@use './colors' as c;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Stack+Sans+Headline:wght@200..700&display=swap');

html {
    font-size: 16px;
}

* {
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: c.$bgBlue;
    height: 100vh;
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
    color: c.$muteBlack;
    font-size: 1.1rem;

}

.cont {
    display: flex;
    justify-content: center;
    max-width: 2400px;
    height: 100vh;
    max-height: 2000px;
}