@use '../../styles/colors' as c;

.cont {
    padding: 0.8rem 0;
}

.progressContainer {
    width: 100%;
    height: 0.8rem;
    background-color: c.$primaryBlue100;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0.8rem 0;
}

.progressBar {
    height: 100%;
    background: c.$primaryBlue400;
    border-radius: 8px 0 0 8px;
    transition: width 0.4s ease-in-out;
    box-shadow: 0 2px 6px rgba(33, 150, 243, 0.4);
}

.text {
    display: block;
    color: c.$whiteBlue;
    font-family: 'Mulish';
    font-weight: 500;
    text-align: center;
    font-size: 1.15rem;
}