@use '../../styles/colors' as c;

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0.75rem;
    margin: 1.4rem 0;
    padding: 0;
    list-style: none;
    width: 100%;

    &__btn {
        display: block;
        width: 100%;
        padding: 1rem 1.6rem;
        background-color: c.$primaryBlue500;
        color: c.$whiteBlue; 
        text-decoration: none;
        border-radius: 0.75rem;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        transition: all 0.3s ease;

        &:hover {
            transform: translateY(-2px) scale(1.02);
            cursor: pointer;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
            background-color: c.$primaryBlue400;
        }
    }
}