.cont {
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.title {
    max-width: 65ch;
    text-align: center;
    line-height: 1.5;
}