@use '../../styles/colors' as c;
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.text {
    font-family: 'Shrikhand', cursive;
    color: c.$lightBlue;
    letter-spacing: 0.5px;
}

.link {
    text-decoration: none;
}

