.cont {
    height: 4rem;
    padding: 0.4rem 0.8rem;
    margin: 0.8rem;
    text-align: left;
    font-size: 1.4rem;
}

.letter {
    font-weight: bold;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}